@font-face {
    font-family: quicksand;
    src: url("../fonts/quicksand.otf");
}

html {
    background-color: #101010;   
    background: radial-gradient( circle, #060606, #010101 );
    overflow: hidden;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: quicksand;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0px 0px 10px;
    color:  #DDD;
    font-size: 30px;
}

#warning {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: fixed;
    top: 10px;
    width: 100%;
    color: #C00;
    text-align: center;
    font-size: 36px;
    padding-bottom: 30px;
}

#audioname {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #BBB;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

#instructions {
    position: fixed;
    bottom: 10%;
    width: 100%;
    color: #BBB;
    text-align: center;
    font-size: 18px;
}
#defaultsong {
    cursor: pointer;
    font-weight: bolder;
    margin-top: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #eaeaea;
    text-transform: uppercase;
}
#defaultsong:hover {
    text-decoration: underline;
}

#selector {
    position: fixed;
    top: 25px;
    left: 0;
    display: none;
}

#audioname {
    display: none;
}

ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

li {
    color: #AAA;
    cursor: pointer;
    padding: 4px;
    transition: all 0.5s;
}

li.active {
    color: #FFF;
}

li:hover {
    color: #FFF;
}

#intro-circle {
    position: fixed;
    height: 50%;
    width: 50vh;
    top:calc(50% - 50%/2); /* height divided by 2*/
    left:calc(50% - 50vh/2); /* width divided by 2*/
    z-index: 9999;
    background-color: white;
    -webkit-border-radius: 500000px;
    -moz-border-radius: 500000px;
    border-radius: 500000px;
}

#content {
    text-align: center;
    margin: 30px;
    font-size: 3.5vh;
    padding-top: 8vh;
}